<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="in.hocg.web.mapper.ExampleMapper">
  <sql id="selectAll">

  </sql>


  <select id="findLike"
          parameterType="java.lang.String"
          resultType="in.hocg.web.pojo.domain.Example">
    <bind name="pattern"
          value="'%' + _parameter + '%'"/>
    SELECT * FROM t_examples AS u
    <where>
      u.name LIKE #{pattern}
    </where>
  </select>

  <select id="findByIDs"
          resultType="in.hocg.web.pojo.domain.Example">
    SELECT *
    FROM t_examples AS u
    WHERE u.id in
    <foreach item="item" index="index" collection="IDs"
             open="(" separator="," close=")">
      #{item}
    </foreach>
  </select>


</mapper>
